<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userController" class="dev.syntax.aop.UserController" />

    <!-- 프로젝트 내에서 사용하기 위해 SimpleAdvice도 bean으로 등록 -->
    <bean id="simpleAdvice" class="dev.syntax.aop.SimpleAdvice" />

    <bean id="proxyFactoryBean" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!-- target : AOP를 적용할 대상 클래스(bean으로 등록한) -->
        <property name="target" ref="userController" />

        <!-- interceptorNames : AOP 적용 시 처리할 Advice -->
        <property name="interceptorNames">
            <list>
                <value>simpleAdvice</value>
            </list>
        </property>
    </bean>

</beans>